# Python
__pycache__/
*.py[cod]
*.log

# Django
db.sqlite3
media/
.env

# Virtual environment
venv/
.venv/

# Vue / Node
node_modules/
dist/
.env.local
.env.*.local

# Node / Vite
frontend/node_modules/

# OS / IDE
.DS_Store
Thumbs.db
.vscode/
.idea/